<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/hobbies.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/js/cv.js"></script>
    <title>{{ assignment }}</title>
</head>

<body>
<div class="grid-container">

    <div class="main">
        {% if session['username'] %}
            <h7 style="color: black">Logged-in, {{ session['username'] }}</h7>
        {% endif %}
        {% block flipBox %}
            <h5>my hobbies</h5>
            {% if contact_user %}
                <h1 style="color: #02131c">hello {{ contact_user.firstname }} {{ contact_user.lastname }}, if you share
                    with me one of my hobbies contact me and join me</h1>
            {% else %}
                <h1 style="color: #02131c">hello stranger, if you share with me one of my hobbies contact me and join
                    me</h1>
            {% endif %}
            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src=/static/img/dive.jpg width=100% height=100% alt="dive">
                    </div>
                    <div class="flip-box-back">
                        <h1>{{ hobbies[0] | upper }}</h1>
                        <h4>favorite sites:</h4>
                        <ol>
                            {% for site in divingSites %}
                                <li>{{ site }}</li>
                            {% endfor %}
                            </ul>
                        </ol>
                    </div>
                </div>
            </div>
            <br><br><br>

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src=/static/img/football.jpg width=100% height=100% alt="Football">
                    </div>
                    <div class="flip-box-back">
                        <h1>{{ hobbies[1]| upper }}</h1>
                        <h4>favorite clubs:</h4>
                        <ol>
                            {% for club in footballClubs %}
                                <li>{{ club }}</li>
                            {% endfor %}
                            </ul>
                        </ol>
                    </div>
                </div>
            </div>

            <br><br><br>

            <div class="flip-box">
                <div class="flip-box-inner">
                    <div class="flip-box-front">
                        <img src=/static/img/Movies.jpg width=100% height=100% alt="Movies">
                    </div>
                    <div class="flip-box-back">
                        <h1>{{ hobbies[2] | upper }}</h1>
                        <h4>favorite movies:</h4>
                        <ol>
                            {% for movie in movies %}
                                <li>{{ movie }}</li>
                            {% endfor %}
                            </ul>
                        </ol>
                    </div>
                </div>

            </div>
            <br><br>
            <a href="{{ url_for('games') }}"><h2>go to my favorite games</h2></a>
        {% endblock %}
        <br>
        {% include('footer.html') %}
    </div>
</div>
</body>

</html>