
<div class="contact")>
    <hr style="height:2px;border-width:0;color:gray;background-color:#02131c">
    <a href="https://www.linkedin.com/">
        <img src="/static/img/LinkedIn.png" alt="HTML tutorial" style="width:3.5%;height:7%;">
    </a>
    <a href="https://www.facebook.com/">
        <img src="/static/img/facebook.png" alt="HTML tutorial" style="width:4%;height:8%;">
    </a> <br>
    <button onclick="topFunction()" style="width:10%" id="topFunction" title="Back to top">Back to top</button>
    <br><br>
    <a href="{{ url_for('main') }}"><h1>Back to main</h1></a>
</div>
